
<div class="container">
<h2>Welcome to Our Off-Desk Service</h2>



<mat-card>
<mat-card-content>
  <h3 style="font-weight: 400; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">The aim of this project is to create a Manager-Employee leave tracking website where Admin is able to add User record  and employee can send request to manager for leave so that Manager get a notification. Behalf of this request, Manager have two option first one Manager can approve leave request second one reject.
    In approval case taken leave will be reduces from total leave  balance and reject case employee leave record same as previous leave record.
   </h3>
  <img src="assets/image2.jpg" alt="Image not Found" style="height: 300px; width: 100%;" >
</mat-card-content>
</mat-card>
</div>